@page "/modificapersona/{Id:int}"
@using DemoBlazorApp.Client.Components
@using DemoBlazorApp.Shared
@using DemoBlazorApp.Shared.Models;
@using DemoBlazorApp.Shared.Models.InputModels
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>Modifica persona</h1>

<p>&nbsp;</p>
<EditForm Model="persona" persona="@persona" OnValidSubmit="Modify">
    <div class="row">
        <div class="col-12"><DataAnnotationsValidator />
        <ValidationSummary /></div>
    </div>
    <PersonaComponent persona=@persona></PersonaComponent>
    <div class="row">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-outline-primary btn-lg ml-3">Modifica</button>
            <button type="button" @onclick="@Cancel" class="btn btn-outline-secondary btn-lg ml-3">Annulla</button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter] public int Id { get; set; }

    PersonaInputModel persona = new PersonaInputModel();

    protected async override Task OnParametersSetAsync()
    {
        persona = await Http.GetFromJsonAsync<PersonaInputModel>($"api/persone/{Id}");
    }

    private async Task Modify()
    {
        await Http.PutAsJsonAsync($"api/persone/{persona.PersonaId}", persona);
        NavigationManager.NavigateTo("/fetchpersone");
    }

    public void Cancel()
    {
        NavigationManager.NavigateTo("/fetchpersone");
    }
}